/*Colors used
  Background-color: white
  Text-color: darkslateblue

  Font:  Montserrat, sans-serif*/

  body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    text-align: center;
    background-color: white;
    color: darkslateblue;
    font-weight: 700;
  }
