
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    text-align: center;
    background-color: white;
    color: darkslateblue;
    font-weight: 700;
  }

button {
  font-variant: small-caps;
  font-weight: 700;
  color: black;
}
